h1{}
h2{font-family:Verdana, sans-serif; 
    color: #576D94;}
h3{color:purple; font-size: 17px;}
h4{color:green; font-size: 16px;}
h5{color:#c5b8e7; font-size: 22px; font-family:aclonica;}
h6{}

p{
    font-family:Garamond, serif; /*why isn't my Garamond blue*/
    font-size: 18px; 
    color:red;
}
span{
    color:blue;
    /*font-size: 50px; was added by teacher*/
}
a {color:silver;
    font-size: 50px;
    font-family: comic-sans;
}

img{
    border: #4682b4 1px solid ;
    height: 200px;
    width: 400px; 
}